body {
  background-color:royalblue;
  color:#b1fff3;
  font-family: fantasy,cursive,monospace;
}
#header {
  background-color: #66ccff;
  color:royalblue;
  text-align: center;
}
#container {
  background-color:red;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#content {
  padding: 10px 10px 10px 10px;
}
#nav {
  width: 180px;
  float: left;
}
#nav .selected {
  font-weight: bold;
}
#main {
  width: 600px;
  float: right;
}
#footer {
  clear: both;
  padding: 10px;
  text-align:center;
}
a {
  text-decoration: none;
}
/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: gold;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}
